@mixin buttonStyle {
    @include buttonPrimary;
    color: white;
    display: flex;
    width: 19.625rem;
    height: 3rem;
    background-color: var(--color-primary);
    cursor: pointer; 
    border: 2px solid rgba(253, 55, 126, 1);
    top: 344px;
    left: 21.5px;
    padding: 13px 20px 13px 20px;
    gap: 10px;
    border-radius: 8px;
    justify-content: center;    
}

@mixin buttonDelete {
    @include buttonSecondary;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: rgba(33, 37, 41, 1);
    max-width: 3.0625rem;
    width: 100vw;
    max-height: 100vh;
    height: 19px;
    top: 51px;
    left: 497px;
    border-radius: 2px 0px 0px 0px; 
    border: none;   
}








