:root {

    --color-primary: rgba(253, 55, 126, 1);
    --color-primary-2: rgba(227, 73, 129, 1);
    --color-secondary: rgba(3, 184, 152, 1);
    --grey-4: rgba(33, 37, 41, 1);
    --grey-3: rgba(134, 142, 150, 1);
    --grey-2: rgba(233, 236, 239, 1);
    --grey-1: rgba(248, 249, 250, 1);

}

.logoImage{
    max-width: 7.6675rem;
    max-height: 1.2206rem;
}