@import "../../styles/index.scss";

.FinanceListSection {
    display: flex;
    flex-direction: column;
    max-width: 35rem;
    width: 100vw;    
    border: blue 2px solid;
    
}

.listTitle{
    @include title3;
    margin-bottom: 20px;
}